* {
  margin: 0;
  padding: 0
}

li {
  list-style: none;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  text-align: center;
}

.other {
  line-height: 1.5;
}
.other h1 {
  text-align: left;
}

p {
  line-height: 1.5;
  margin: 5px 0;
}

.box {
  overflow: hidden;
  width: 540px;
  margin: 10px auto;
  background: #fefefe;
}

.item {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  float: left;
  background: #eee;
  margin-top: 10px;
  margin-right: 10px;
}

.navigate {
  text-align: center;
  margin: 10px;
}

.next, .prev {
  padding: 5px 15px;
  margin: 10px;
}

.full {
  height: 100px;
  overflow: hidden;
}

.full .item {
  width: 540px;
  margin: 0;
}
