* {
  margin: 0;
  padding: 0
}
.box {
  overflow: hidden;
  width: 540px;
  margin: 10px auto;
}
h1 {
  text-align: center;
  font-size: 1.4em;
}

ul, li { list-style: none }

.demo {
  margin: 10px;
}

.wrap {
  height: 120px;
}

.item {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  float: left;
  background: #eee;
  margin-top: 10px;
  margin-right: 10px;
}
.navigate {
  text-align: center;
  margin: 10px;
}
#next, #prev {
  padding: 5px 15px;
  margin: 10px;
}

#demo1 .item,
#demo2 .item {
  width: 540px;
}

#horizontal {
  height: 100px;
  overflow: hidden;
}
#horizontal .item {
  width: 540px;
  margin: 0;
}