* {
  margin: 0;
  padding: 0
}
.box {
  overflow: hidden;
  width: 560px;
  margin: 10px auto;
}
h1 {
  text-align: center;
  font-size: 1.4em;
}
.wrap {
  height: 120px;
  padding: 0 10px;
}

.item {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  float: left;
  background: #eee;
  margin-top: 10px;
  margin-right: 10px;
}
.navigate {
  text-align: center;
  margin: 10px;
}
#next, #prev {
  padding: 5px 15px;
  margin: 10px;
}


#demo0, #demo1 {
  width: 560px;
}

#demo0 .item,
#demo1 .item {
  width: 540px;
}